<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="page">
    <header class="page__header">
        header
    </header>
    <main class="page__main">
        {{{ body }}}
    </main>
    <footer class="page__footer">
        footer
    </footer>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js"></script>
</body>