<div class="index">
    <ul class="js-messages messages"></ul>
    <form action="#">
        <div class="row">
            <div class="col">
                <input class="js-message message textbox" type="text" placeholder="Send a message.." autocomplete="off"/>
            </div>
            <div class="col">
                <input class="js-send-message button" type="button" value="Send"/>
            </div>
        </div>
    </form>
</div>